annotated-types==0.7.0
anyio==4.6.2.post1
av==12.3.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
coloredlogs==15.0.1
ctranslate2==4.5.0
exceptiongroup==1.2.2
fastapi==0.115.3
faster-whisper @ git+https://github.com/heimoshuiyu/faster-whisper@8563f889cb23c2f8d64568d7a4a1c7beea28618b
filelock==3.16.1
flatbuffers==24.3.25
fsspec==2024.10.0
h11==0.14.0
httptools==0.6.4
huggingface-hub==0.26.1
humanfriendly==10.0
idna==3.10
mpmath==1.3.0
numpy==2.1.2
onnxruntime==1.19.2
OpenCC==1.1.9
packaging==24.1
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.21.0
protobuf==5.28.3
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
python-dotenv==1.0.1
python-multipart==0.0.12
PyYAML==6.0.2
requests==2.32.3
sniffio==1.3.1
sounddevice==0.5.1
starlette==0.41.0
sympy==1.13.3
tokenizers==0.20.1
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.32.0
uvloop==0.21.0
watchfiles==0.24.0
websockets==13.1
whisper-ctranslate2==0.4.6
